<div class="layout">
  <div class="container-fluid site">
    <app-header></app-header>
    <div class="site-container">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">How does it work?</h1>
          <p class="lead">Simple, click the <a [routerLink]="['/constructor']">'Poster-maker'</a> link in the header here above and ...</p>
          <hr class="my-4">
          <div class="row">
            <div class="col-sm">
              <ol class="site-list">
                <li>Modify the poster title</li>
                <li>Select the person's gender and skin colour</li>
                <li>Select the gear and, if necessary, change its colour.</li>
                <li>Add comments to selected body parts.</li>
                <li>Click the wizard button to create your poster</li>
              </ol>
              <p class="lead">
                <a class="btn btn-outline-primary btn-lg" [routerLink]="['/pricing']" role="button">Pricing</a>
                <a class="btn btn-primary btn-lg" [routerLink]="['/constructor']" role="button">Get started</a>
              </p>
            </div>
            <div class="col-sm">
              <img src="/assets/img/site/how.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
