<div class="preview">
  <h2 (click)="enterEditName()" [hidden]="isEditingName">{{ poster && poster.name || 'New poster' }}</h2>
  <input
  #nameInput
  [(ngModel)]="name"
  class="name-input"
  (blur)="exitEditName()"
  [hidden]="!isEditingName">

  <div class="preview-inner" id="preview">
    <div class="preview-box" *ngIf="poster">
      <poster-builder [poster]="poster"></poster-builder>
      <div *ngFor="let part of poster['parts']">
        <ng-container *ngIf="part.canHaveComment">
          <div [ngStyle]="{
            top: part.comment.position ? part.comment.position.top + 'px' : '',
            left: part.comment.position ? part.comment.position.left + 'px' : '' }"
               [attr.data-text-thing-type]="part.uuid"
               [class]="'preview-box-item-text ' + part.uuid"
               *ngIf="part.comment">
            {{ part.comment.content }}
          </div>
          <div class="connector" *ngIf="part.comment.position.left < 400" [style.top]="part.comment.position.top - 200 + 'px'">
            <svg width="100%" height="500"><line attr.x1="{{200 + part.comment.position.left}}" y1="220" attr.x2="{{part.comment.target.left}}" attr.y2="{{part.comment.target.top}}" stroke="black"/></svg>
          </div>
          <div class="connector" *ngIf="part.comment.position.left > 400" [style.top]="part.comment.position.top - 200 + 'px'">
            <svg width="100%" height="500"><line attr.x1="{{part.comment.position.left}}" y1="220" attr.x2="{{part.comment.target.left}}" attr.y2="{{part.comment.target.top}}" stroke="black"/></svg>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
