.preview {
  text-align: center;
  input.name-input {
    margin-top: 16px;
  }
}

.preview-inner {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.preview-box {
  position: relative;
  .connector {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }
}

.preview-box-item-text {
  position: absolute;
  z-index: 999;
  width: 200px;
  height: 40px;
  padding: 10px;
  background: #202020;
  color: #fff;

  &.head {
    top: 3%;
    right: 0;
  }

  &.face {
    top: 19%;
    right: 63%;
  }

  &.arms {
    top: 30%;
    right: 71%;
  }

  &.left-hands {
    top: 42%;
    right: 72%;
  }

  &.right-hands {
    top: 42%;
    left: 72%;
  }

  &.legs {
    top: 60%;
    left: 63%
  }

  &.feet {
    top: 80%;
    left: 0;
  }
}
