<div class="things-list">
   <div class="things-list-container">
    <div *ngIf="selectedPart.uuid === 'gender'">
      <div *ngFor="let gear of groupedGears[selectedPart.uuid]" class="gender_tab">
      <gear
        [gear]="gear"
        [selected]="isGearSelected(gear)"
        (select)="onSelectGender($event)"
        (changeColour)="onChangeColour(gear, $event)"></gear>
      </div>
    </div>

    <div *ngIf="selectedPart.uuid !== 'gender' && poster.gender && poster.gender.gender">
      <div class="gender_tab" *ngFor="let gear of partGears">
        <gear
          [gear]="gear"
          [selected]="isGearSelected(gear)"
          (select)="onSelectGear($event)"
          (changeColour)="onChangeColour(gear, $event)"></gear>
      </div>

      <div *ngIf="selectedPart.canHaveComment" class="cmmnt_sec">
        <button class="comment-icon" (click)="openPartCommentModal()">Add comments on the '{{selectedPart.name}}' part</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" bsModal #partCommentModal="bs-modal" [config]="{ backdrop: 'static' }"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Additional comments</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="partCommentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="partCommentForm" class="form-horizontal" (ngSubmit)="closePartCommentModal()" novalidate>
          <extended-input [labelText]="'Comments on the \'' + selectedPart.name + '\' part:'" [dirty]="partCommentForm.controls.remark.dirty" [inputErrors]="partCommentForm.controls.remark.errors">
            <textarea class="form-control"
                      rows="5"
                      formControlName="remark"></textarea>
          </extended-input>

          <button type="submit" (click)="closePartCommentModal()" [disabled]="!partCommentForm.valid" class="btn btn-primary mt-2">
            <i class="fa fa-save"></i>&nbsp;Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

