<nav class="navbar navbar-expand">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="/assets/img/empty_flag.png">
    <div class="content_text">
      <p class="header">preventina</p>
      <p class="title">protecting your people</p>
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active pl-2 pr-2">
        <a class="nav-link" [routerLink]="['/']"><li class="fal fa-home"></li> Home</a>
      </li>
      <li class="nav-item active pl-2 pr-2 p-red">
        <a class="nav-link" [routerLink]="['/constructor']"><li class="fal fa-magic"></li> Poster-maker</a>
      </li>
      <li class="nav-item active pl-2 pr-2">
        <a class="nav-link" [routerLink]="['/how']"><li class="fal fa-question"></li> How</a>
      </li>
      <li class="nav-item active pl-2 pr-2">
        <a class="nav-link" [routerLink]="['/demo']"><li class="fal fa-file-image"></li> Demo</a>
      </li>
      <li class="nav-item active pl-2 pr-2">
        <a class="nav-link" [routerLink]="['/pricing']"><li class="fal fa-credit-card-front"></li> Pricing</a>
      </li>
      <li class="nav-item active pl-2 pr-2">
        <a class="nav-link" [routerLink]="['/contact']"><li class="fal fa-comments-alt"></li> Contact</a>
      </li>
    </ul>
  </div>

</nav>
