@import '../../../../theme.scss';

:host {
  margin-bottom: 20px;
  display: block;
}

.middle-header, .right-header {
  display: none;
}
.navbar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #DEDEDE;
  .navbar-brand {
    margin-left: 10%;
    padding: 0;
    img {
      width: 18px;
      vertical-align: inherit;
    }
    .content_text {
      padding-left: 4px;
      text-align: left;
      display: inline-block;
      p {
        font-family: 'Muli light', sans-serif;
        margin: 0;
        color: #cc0000;
        font-weight: 400;
      }
      .header {
        font-size: 24px;
        line-height: 0.8;
        font-family: 'Muli';
      }
      .title {
        font-size: 10px;
        padding: 5px 0px;
        margin-top: -8px;
        text-align: center;
      }
    }
  }
  .navbar-nav {
    margin-right: 10%;
    #btn-menu {
      background: transparent;
      border: none;
      span {
        width: 30px;
        height: 6px;
        background: #cc0000;
        display: block;
        margin: 3px 0;
      }
    }
    .nav-item {
      a {
        color: #202020;
        font-size: 12px ;
        font-weight: 500;
      }
      &.p-red {
        a {
          li {
            color: map_get($theme-colors, primary);
          }
        }
      }
    }
  }
}

