.preview-box-item {
  position: absolute;
  width: 100%;

  & > .preview-box-item-wrap {
    height: 100%;

    & > div {
      height: 100%;
    }
  }

  svg,
  .img-wrap {
    position: absolute;
    top: 0;
    left: 0;
  }
  &:last-child {
    position: relative;
  }
}

.gear-component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

poster-builder {
  display: block;
}

gear {
  display: block;
}

dynamic-gear {
  display: block;
  width: 100%;
  height: 0;
  padding-top: calc(13000/9922*100%);
}
