<div class="preview-box-item" [style.z-index]="0">
  <div class="preview-box-item-wrap">
    <div>

       <dynamic-gear
        [gear]="poster.skin"
      ></dynamic-gear>
    </div>
  </div>
</div>
<div class="preview-box-item" *ngFor="let thing of poster.stuff" [style.z-index]="thing.layer">
  <div class="preview-box-item-wrap">
    <div>

       <dynamic-gear
        [gear]="thing"
      ></dynamic-gear>
    </div>
  </div>
</div>
<div class="preview-box-item" *ngFor="let thing of poster.iso" style="height: 30%; width: 30%;z-index: 100">
  <div class="preview-box-item-wrap">
    <div>
      <dynamic-gear
              [gear]="thing"
      ></dynamic-gear>
    </div>
  </div>
</div>