@import '../../../theme.scss';

.layout {
  float: left;
  width: 100%;
  background: #efefef;
  padding-bottom: 50px;
  overflow: hidden;
}

#btn-create-poster {
  background: transparent;
  border: 2px solid #cc0000;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: left center / contain url("/assets/img/magic-icon-red.png") no-repeat;
  height: 50px;
  padding-left: 60px;
  &:hover {
    background-color: map_get($theme-colors, primary);
    background-image: url("/assets/img/magic-icon-white.png");
    span {
      color: white;
    }
  }
  img {
    width: 70px;
  }
  span {
    color: #cc0000;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    font-family: 'Muli';
  }
}



.left_section {
  background: #ffffff none repeat scroll 0 0;
  position: relative;
  .content-wrapper {
    height: 100%;
  }
  .content {
    padding-bottom: 40px;
    height: 100%;
    z-index: 10;
  }
}
.right_section {
  .sidebar-wrapper {
    position: relative;
    height: 100%;
  }
  .sidebar {
    width: 100%;
  }
  button {
    cursor: pointer;
  }
}
.right_section .panel-body {
  padding: 0;
}

#downloadPopup {
  .modal-content {
    .modal-header {
      border: none;
    }
    .modal-body {
      padding-top: 0;
      >h2 {
        margin: 0;
        color: #202020;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        font-family: 'Muli', sans-serif;
      }
      >p {
        color: #cc0000;
        margin: 7px 0;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        font-family: 'Muli', sans-serif;
      }
      >h1 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 12px;
      }
      .content-price {
        display: flex;
        align-items: flex-start;
        .price-block {
          text-align: center;
          .wrap {
            border: 1px solid map_get($theme-colors, primary);
            border-radius: 5px;
            width: 100%;
            display: inline-block;
            background: #ebebeb;
            h1 {
              margin-top: 20px;
              color: map_get($theme-colors, primary);
              font-weight: bold;
              font-size: 24px;
            }
            .content-text {
              background: #fff;
              padding: 20px 15px;
              min-height: 120px;
              p {
                margin: 0;
                font-size: 13px;
                text-align: left;
                color: #202020;
                font-weight: 100;
                text-align: justify;
              }
            }
            ul.content-text {
              list-style-type: none;
              font-size: 13px;
              font-weight: 100;
              text-align: left;
              li {
                margin-bottom: 6px;
              }
            }
            .price {
              text-align: center;
              .min {
                color: map_get($theme-colors, primary);
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 0;
              }
              .max {
                text-decoration: line-through;
              }
            }
          }
          .note {
            color: map_get($theme-colors, primary);
            font-size: 14px;
            margin-top: 5px;
            font-family: 'Muli', sans-serif;
              a {
                color: map_get($theme-colors, primary);
              }
          }
          &.free {
            margin-top: 20px;
          }
        }
      }
      .switcher {
        right:32px;
        label {
          padding: 0 24px;
        }
      }
    }
  }
}

.left_section {
  position: relative;
  overflow: hidden;
}

#paymentPopup {
  .bigger {
    max-width: 400px;
  }
  .modal-header {
    p {
      margin-bottom: 0;
      text-align: center;
      width: 100%;
      font-weight: 700;
    }
  }
  .modal-body {
    .pay-info {
      text-align: center;
      font-size: 1.4em;
      color: #202020;
      .price {
        color: #04b07c;
      }
    }
    .form-row{
      text-align: left;
      input {
        color: #202020;
        width: 100%;
        border: none;
        border-bottom: 1px solid #383838;
        font-size: 19px;
        font-family: 'Muli', sans-serif;
      }
      #card-info {
        width: 100%;
      }
    }
  }
}

#waitingPopup {
  .modal-body {
    padding: 70px;
    text-align: center;
    p {
      font-size: 32px;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
    }
    p.process-info {
      font-size: 16px;
    }
  }
}

#readyPopup {
  .modal-body {
    font-family: 'Muli', sans-serif;
    .title {
      font-size: 40px;
      font-weight: 600;
      font-family: 'Muli', sans-serif;
    }
    .content {
      .left {
        width: 30%;
        float: left;
      }
      .right {
        width: 70%;
        float: left;
        padding-top: 20px;
        p {
          font-size: 25px;
          font-weight: 600;
        }
        ul {
          list-style: none;
          padding-left: 23px;
          font-size: 16px;
          font-weight: 700
        }
        span {
          font-size: 14px;
          font-weight: 100;
        }
        .button-content {
          margin-top: 50px;
        }
      }
    }
  }
}

form.checkout {
  // max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;

  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: #04b07c;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 19px;
  width: 100%;
}

form.checkout button:active {
  background: #04b07c;
}

.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.dnd-drag-start {
  -moz-transform:scale(0.8);
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}
