<!-- Fixed navbar -->
<div class="layout">
  <div class="container_fluid">
    <app-header></app-header>

    <nav class="navbar navbar-inverse navbar-fixed-top"></nav>

    <div class="container" [class.authorized]="userService.isAuth$ | async">
      <div class="row">
        <div class="left_section content-wrapper col-9">
          <div class="content">
            <!-- ISO drag & drop -->
            <div [dragula]='"bag-task1"' class="drop-here">
              <div class="iso_tab" style="padding-top: 120px;"></div>
              <div class="iso_tab" style="padding-top: 120px;"></div>
              <div class="iso_tab" style="padding-top: 120px;"></div>
              <div class="iso_tab" style="padding-top: 120px;"></div>
              <div class="iso_tab" style="padding-top: 120px;"></div>
              <div class="iso_tab" style="padding-top: 120px;"></div>
            </div>

            <poster-preview *ngIf="posterPageService.poster$ | async" [poster]="posterPageService.poster$ | async"></poster-preview>
          </div>
        </div>

        <div class="right_section sidebar-wrapper col-3">
          <div class="sidebar">
            <!--<gears-tabs *ngIf="posterPageService.poster$ | async" [tabs]="firebaseService.tabs$ | async" [poster]="posterPageService.poster$ | async" (selectThing)="selectThing($event)" (deselectThing)="deselectThing($event)"></gears-tabs> -->
            <accordion>
              <accordion-group heading="Documemt settings" ngClass="active">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary {{orientation === 'PORTRAIT' ? 'active' : ''}}">
                    <input type="radio" name="options" id="option21" autocomplete="off" [checked]="orientation === 'PORTRAIT'" (click)="toggleOrientation()"> PORTRAIT
                  </label>
                  <label class="btn btn-primary {{orientation === 'LANDSCAPE' ? 'active' : ''}}">
                    <input type="radio" name="options" id="option22" autocomplete="off" [checked]="orientation === 'LANDSCAPE'" (click)="toggleOrientation()"> LANDSCAPE
                  </label>
                </div>
              </accordion-group>
              <accordion-group heading="Safety gear">
                <gears-tabs *ngIf="posterPageService.poster$ | async" [parts]="parts" [poster]="posterPageService.poster$ | async" (selectThing)="selectThing($event)" (deselectThing)="deselectThing($event)" (manageComment)="manageComment($event)"></gears-tabs>
                <user-nav *ngIf="(userService.isAuth$ | async)" [user]="userService.user$ | async"></user-nav>
              </accordion-group>
              <accordion-group heading="ISO 7010" ngClass="active">
                <div [dragula]='"bag-task1"' >
                  <div *ngFor="let url of isoUrls" class="iso_tab">
                    <img class="iso-img" [src]="'/assets/img/constructor/iso/' + url"/>
                    <input type="text" class = "iso-text" placeholder="Your text here" autofocus (change)="changeDescription($event)" />
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
          <div class="mt-5">
            <button id="btn-create-poster" (click)="downloadModal.show()">
              <span>Create your poster</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
</div>

<div bsModal #downloadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
  id="downloadPopup" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" (click)="downloadModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Congratulations! You just created a great poster.</h2>
        <p>(Time limited offer) Download your high definition poster now and get 50% off</p>
        <h1>Make your choice</h1>
        <div class="row pb-5">
          <div class="switcher position-absolute">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-primary {{currentCurrency === '€' ? 'active' : ''}}">
                <input type="radio" name="options" id="option1" autocomplete="off" [checked]="currentCurrency==='eu'" (click)="toggleCurrency()"> Euro
              </label>
              <label class="btn btn-primary {{currentCurrency === '$' ? 'active' : ''}}">
                <input type="radio" name="options" id="option3" autocomplete="off" [checked]="currentCurrency==='us'" (click)="toggleCurrency()"> USD
              </label>
            </div>
          </div>
        </div>
        <div class="content-price clear row">
          <div class="price-block col-4 free">
            <div class="wrap">
              <h1>FREE</h1>
              <div class="price">
                <p class="min">{{currentCurrency}} <span>0.00</span></p>
              </div>
              <div class="content-text">
                <p>Medium sized JPEG image with small bottom right advertizement. This image will be available online during one month. Perfect for smaller prints, testing and previews.</p>
              </div>
              <button class="btn btn-outline-primary mb-2 mt-2" (click)="makePoster('FREE');">
                <i class="fal fa-download"></i> Download
              </button>
            </div>
            <!--<p class="note">(<a href="https://s3-eu-west-1.amazonaws.com/preventina/samples/Tony.jpg" target="_blank">Download an example</a>)</p>-->
          </div>
          <div class="price-block col-4">
            <div class="wrap">
              <h1>SPONSORED</h1>
              <div class="price">
                <p class="min">{{currentCurrency}}
                  <span>{{current[0]}}</span>
                </p>
                <p class="max">{{currentCurrency}}
                  <span>{{current[2]}}</span>
                </p>
              </div>
              <ul class="content-text">
                <li>Vectorized PDF image</li>
                <li class="red-info">Ready-to-print</li>
                <li>9922X13000 pixels</li>
                <li>1 year free online availability</li>
                <li>Small bottom right advertizement</li>
              </ul>
              <button class="btn btn-outline-primary mb-2 mt-2" (click)="showPayment('SPONSORED');">
                <i class="fal fa-download"></i> Download
              </button>
            </div>
            <!--<p class="note">(<a href="https://s3-eu-west-1.amazonaws.com/preventina/samples/Tony.jpg" target="_blank">Download an example</a>)</p>-->
          </div>
          <div class="price-block col-4">
            <div class="wrap">
              <h1>HIGH RES</h1>
              <div class="price">
                <p class="min">{{currentCurrency}}
                  <span>{{current[1]}}</span>
                </p>
                <p class="max">{{currentCurrency}}
                  <span>{{current[2]}}</span>
                </p>
              </div>
              <ul class="content-text">
                <li>Vectorized PDF image</li>
                <li class="red-info">Ready-to-print</li>
                <li>9922X13000 pixels</li>
                <li>1 year free online availability</li>
                <li class="red-info">No advertizement!</li>
              </ul>
              <button class="btn btn-outline-primary mb-2 mt-2" (click)="showPayment('HIGHRES');">
                <i class="fal fa-download"></i> Download
              </button>
            </div>
            <!--<p class="note">(<a href="https://s3-eu-west-1.amazonaws.com/preventina/samples/Tina.pdf" target="_blank">Download an example</a>)</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #paymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
  id="paymentPopup" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-sm bigger">
    <div class="modal-content">
      <div class="modal-header">
        <p>Purchasing preventina poster</p>
        <button type="button" class="close pull-right" (click)="paymentModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pay-info">
          Your total is <span class="price">{{currentCurrency}}{{poster?.product === 'SPONSORED' ? current[0] : current[1]}}</span> (inc. VAT)
        </div>
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
            <div class="form-row">
              <p><input id="name-on-card" #nameOnCard type="text" placeholder="Name on the credit card" style="margin: 16px 0px;"/></p>
            </div>
            <div class="form-row">
              <p><input id="email-info" #emailInfo type="email" placeholder="Your email address" style="margin: 16px 0px;"/></p>
            </div>
            <div class="form-row">
              <div id="card-info" #cardInfo></div>
              <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
            </div>
            <button type="submit">Pay {{currentCurrency}}{{poster?.product === 'SPONSORED' ? current[0] : current[1]}}</button>
          </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #waitingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
  id="waitingPopup" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <p>We are processing your request.</p>
        <p *ngIf="!payOk">Please wait a few seconds...</p>
        <p *ngIf="payOk">Great ! The payment has been approved. Here is your unique transaction number: {{paymentId}}</p>
        <p *ngIf="payOk">We are now creating your poster...</p>
        <p *ngIf="payOk" class="process-info">(Please be patient, on average this process takes 30 to 40 seconds)</p>
        <img src="/assets/img/loading.gif">
      </div>
    </div>
  </div>
</div>

<div bsModal #readygModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
  id="readyPopup" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-center title">Your poster is ready!</h1>
        <div class="content clear">
          <div class="left">
            <img src="{{createdPoster.jpg}}" *ngIf="createdPoster && createdPoster.jpg">
          </div>
          <div class="right">
            <p>Now you can ...</p>
            <ul>
              <li>- <a href="{{createdPoster?.jpg}}" target="_blank">View</a> your poster in low resolution</li>
              <li *ngIf="createdPoster && createdPoster.pdf">- <a href="{{createdPoster.pdf}}" target="_blank">Download</a> your poster in high resolution</li>
              <li *ngIf="!createdPoster || !createdPoster.pdf">- Request the <a (click)="getHighResVersion()">high resolution</a> version of your poster</li>
              <li>- share your poster</li>
            </ul>
            <span>This info has also been send to your email address (please check your spam box in case you haven't received this email within five minutes)</span>
            <div class="button-content text-right">
              <button class="btn btn-outline-primary btn-lg" (click)="continue()">Continue</button>
              <button class="btn btn-outline-primary btn-lg" (click)="restart()">Create new</button>
              <a class="btn btn-outline-primary btn-lg" [routerLink]="['/']">I'm done</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal fade" bsModal #newPosterNameModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Enter name of new poster</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newPosterNameModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="newPosterNameForm" class="form-horizontal" (ngSubmit)="closeNewPosterNameModal()" novalidate>
          <extended-input [labelText]="'Name (*)'" [dirty]="newPosterNameForm.controls.name.dirty" [inputErrors]="newPosterNameForm.controls.name.errors"
            [errorDefs]="{ required: 'name is required' }" [required]="true">
            <input type="text" class="form-control" formControlName="name">
          </extended-input>

          <button type="submit" (click)="closeNewPosterNameModal()" [disabled]="!newPosterNameForm.valid" class="btn btn-primary btn-block btn-lg">
            <i class="fa fa-save"></i>&nbsp;Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>-->
