@import '../../../theme.scss';

.switcher {
  right:32px;
  label {
    padding: 0 24px;
  }
}
.content-price {
  margin-top: 80px;
  .price-block {
    text-align: center;
    .wrap {
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px;
      .content-text {
        text-align: justify;
        ul {
          text-align: left;
          font-size: 13px;
        }
      }
      .price {
        text-align: right;
        .min {
          color: map_get($theme-colors, primary);
          padding-right: 12px;
          font-weight: 700;
          font-size: 20px;
        }
        .max {
          text-decoration: line-through;
        }
        &.free {
          text-align: center;
        }
      }
    }
    .note {
      margin-top: 20px;
    }
  }
}

.more-price {
  margin-top: 20px;
  .more-content {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  i {
    padding-top: 56%;
  }
}
