<div class="layout">
  <div class="container_fluid site">
    <app-header></app-header>
    <div class="site-container">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Simple and clear pricing for all</h1>
          <p class="lead">(<span class="font-weight-bold">Time limited offer</span>) Download your high definition poster now and <span class="font-weight-bold">get 50% off</span>.</p>
          <hr class="my-4">
          <div class="switcher position-absolute">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-primary {{currentCurrency === 'eu' ? 'active' : ''}}">
                <input type="radio" name="options" id="option1" autocomplete="off" [checked]="currentCurrency==='eu'" (click)="toggleCurrency()"> Euro
              </label>
              <label class="btn btn-primary {{currentCurrency === 'us' ? 'active' : ''}}">
                <input type="radio" name="options" id="option3" autocomplete="off" [checked]="currentCurrency==='us'" (click)="toggleCurrency()"> USD
              </label>
            </div>
          </div>
          <div class="content-price clear row">
            <div class="price-block col-sm-4">
              <div class="wrap">
                <h3 class="border-bottom pb-4">FREE</h3>
                <p class="price free">
                  <span class="min">{{currentCurrency === 'eu' ? '€' : '$'}}
                    <span>0</span>
                  </span>
                </p>
                <div class="content-text">
                  <p>For those who need a low-resolution poster or as preview for your final design.</p>
                  <ul>
                    <li>Full colour</li>
                    <li>JPEG image (775X1094 pixels)</li>
                    <li class="red-info">Free download</li>
                    <li>1 month free online availability</li>
                    <li>Small bottom right square with advertizement</li>
                  </ul>
                </div>
              </div>
              <p class="note">(<a href="https://s3-eu-west-1.amazonaws.com/preventina/samples/Tony.jpg" target="_blank">Download an example</a>)</p>
            </div>
            <div class="price-block sponsored col-sm-4">
              <div class="wrap">
                <h3 class="border-bottom pb-4">SPONSORED</h3>
                <p class="price">
                  <span class="min">{{currentCurrency === 'eu' ? '€' : '$'}}
                    <span>{{current[0]}}</span>
                  </span>(
                  <span class="max">{{currentCurrency === 'eu' ? '€' : '$'}}
                    <span>{{current[2]}}</span>
                  </span>)
                </p>
                <div class="content-text">
                  <p>For those who need high-resolution posters with vectorized graphics.</p>
                  <ul>
                    <li>Full colour</li>
                    <li>JPEG image (775X1094 pixels)</li>
                    <li class="red-info">Vectorized PDF image</li>
                    <li class="red-info">Ready-to-print</li>
                    <li class="red-info">9922X13000 pixels</li>
                    <li>1 year free online availability</li>
                    <li>Small bottom right square with advertizement</li>
                  </ul>
                </div>
              </div>
              <p class="note">(<a href="https://s3-eu-west-1.amazonaws.com/preventina/samples/Sponsored_Tony.pdf" target="_blank">Download an example</a>)</p>
            </div>
            <div class="price-block highres col-sm-4">
              <div class="wrap">
                <h3 class="border-bottom pb-4">HIGH RES</h3>
                <p class="price">
                  <span class="min">{{currentCurrency === 'eu' ? '€' : '$'}}
                    <span>{{current[1]}}</span>
                  </span>(
                  <span class="max">{{currentCurrency === 'eu' ? '€' : '$'}}
                    <span>{{current[2]}}</span>
                  </span>)
                </p>
                <div class="content-text">
                  <p>For those who need personalized high-resolution posters with vectorized graphics.</p>
                  <ul>
                    <li>Full colour</li>
                    <li>JPEG image (775X1094 pixels)</li>
                    <li>Scalable</li>
                    <li>Ready-to-print</li>
                    <li>PDF image (9922X13000 pixels)</li>
                    <li>1 year free online availability</li>
                    <li class="red-info">No advertizement</li>
                  </ul>
                </div>
              </div>
              <p class="note">(<a href="https://s3-eu-west-1.amazonaws.com/preventina/samples/Tina.pdf" target="_blank">Download an example</a>)</p>
            </div>
          </div>
          <div class="row more-price">
            <div class="col-1 text-center"><i class="fal fa-star"></i></div>
            <div class="col-10 more-content">
              <span>Need more? Ask for your fully customized and personal version of the poster creator!<br />For more information, <a [routerLink]="['/contact']">contact us</a>.</span>
            </div>
            <div class="col-1 text-center"><i class="fal fa-star"></i></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
