<a (click)="select.emit(gear)">
	<img *ngIf="gear.part==='gender'" src="/assets/img/constructor/{{gear.gender}}/body.png" />
	<img *ngIf="gear.part==='skin'" src="/assets/img/constructor/{{gear.gender}}/body_0{{gear.counter}}.png" />
	<img *ngIf="gear.part!=='skin' && gear.part!=='gender'" src="/assets/img/constructor/{{gear.gender}}/{{gear.name}}.png" />
</a>
