 <div *ngIf="(things | json) != '{}' && things != undefined" class="tabs-container">
    <accordion>
      <accordion-group *ngFor="let part of parts | orderBy : ['level']; let i = index" [heading]="part.name" [ngClass]="{ 'active': i + 1 }" (click)="selectPart(i)">
        <gears-list
          [selectedPart]="part"
          [poster]="poster"
          [groupedGears]="things"
          (selectThingFunction)="selectThing.emit({ posterId: poster.id, thing: $event })"
          (deselectThingFunction)="deselectThing.emit({ posterId: poster.id, thing: $event })"
          (manageCommentFunction)="manageComment.emit({ posterId: poster.id, part: $event })">
        </gears-list>
      </accordion-group>
    </accordion>
  </div>
