<div class="layout">
  <div class="container_fluid site">
    <app-header></app-header>
    <div class="site-container">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Protecting your people!</h1>
          <p class="lead">Tina and Tony come to your rescue to let you <span class="red-info">create the most beautiful safety posters</span> in no time.</p>
          <hr class="my-4">
          <div class="row">
            <div class="col-sm-4">
              <img src="/assets/img/site/tina_canvas.jpg">
            </div>
            <div class="col-sm-4">
              <img src="/assets/img/site/tony_canvas.jpg">
            </div>
            <div class="col-sm-4">
              <div class="yours">
                <p class="title">Now create yours</p>
                <p class="question"><a [routerLink]="['/how']"><i class="fal fa-question"></i></a></p>
                <p class="actions">
                  <a [routerLink]="['/how']" role="button" class="btn btn-outline-primary">How?</a>
                  <a [routerLink]="['/constructor']" role="button" class="btn btn-primary">Get started</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
