@import '../../../styles.scss';

img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.yours {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  p {
    text-align: center;
  }
  .title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 600;
    @include media-breakpoint-up(sm) {
      font-size: 0.7em;
      margin-top: 8px;
    }
    @include media-breakpoint-up(md) {
      font-size: 0.8em;
      margin-top: 12px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.2em;
      margin-top: 18px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1.4em;
      margin-top: 22px;
    }
  }
  .question {
    a {
      color: rgba(204, 0, 0, 0.2);
      font-size: 18em;
      @include media-breakpoint-up(sm) {
        font-size: 1em;
      }
      @include media-breakpoint-up(md) {
        font-size: 6em;
      }
      @include media-breakpoint-up(lg) {
        font-size: 10em;
      }
      @include media-breakpoint-up(xl) {
        font-size: 13em;
      }
    }
  }
  .actions {

  }

  /*@media (min-width: map_get($grid-breakpoints, sm)){
    .title {
      font-size: 10em;
    }
  }*/
}
