<div class="gear" [class.selected]="selected">
  <static-gear
    [gear]="gear"
    id="{{gear.name}}"
    (select)="onSelect(gear)"
  ></static-gear>

  <div *ngIf="firstColourControl" class="cmmnt_sec">
    <span class="comment">Color</span>

    <span class="fill_color">
      <input type="color" [formControl]="firstColourControl" class="color_input"/>
    </span>
  </div>

  <div *ngIf="secondColourControl"  class="cmmnt_sec">
    <span class="comment">Color</span>

    <span class="fill_color">
      <input type="color" [formControl]="secondColourControl" class="color_input"/>
    </span>
  </div>

  <div *ngIf="thirdColourControl"  class="cmmnt_sec">
    <span class="comment">Color</span>

    <span class="fill_color">
      <input type="color" [formControl]="thirdColourControl" class="color_input"/>
    </span>
  </div>

  <div class="img-wrap" *ngIf="gear.thumbnailUrl" (click)="select.emit(gear)">
    <img [src]="gear.thumbnailUrl">
  </div>
</div>

