gear{
  display: block;
}

.gear {
  border: 1px solid transparent;
  text-align: center;
  font-size: 0;
  line-height: 0;
  cursor: pointer;

  &.selected {
    border-color: #ccc;
    cursor: default;
  }
}
