<div class="layout">
  <div class="container_fluid site">
    <app-header></app-header>
    <div class="site-container">
      <div class="container">
        <p>
          Thanks for your feedback!<br/>
          Your request has been sent successfully and we'll get back to you within 24 hours.
        </p>
      </div>
    </div>
  </div>
</div>
