<div class="layout">
  <div class="container_fluid site">
    <app-header></app-header>
    <div class="site-container">
      <div class="container">


        <div class="jumbotron">
          <h1 class="display-4">Get in touch?</h1>
          <p class="lead">You have <span class="font-weight-bold">a question</span>? Or <span class="font-weight-bold">you have feedback</span> for us? Maybe you want us to add some specific gears you'd need for creating your poster or maybe you want this tool to be fully customized for your needs so that it shows your logo on the gear?</p>
          <p class="lead">We're looking forward to hearing from you and for all your questions and remarks, we'll get back to you within 24 hours.</p>
          <hr class="my-4">

          <form  [formGroup]="contactForm" (submit)="doContact()" novalidate>

            <h4>Contact form:</h4>

            <div class="row">
              <div class="form-group col-6">
                <label>Name:</label>
                <input class="form-control" type="text"
                       formControlName="name"
                       placeholder="Enter your name"
                       [ngClass]="{
                        'is-success' :  contactForm.get('name').valid &&  contactForm.get('name').dirty,
                        'is-danger'  :  !contactForm.get('name').valid
                      }">

                <p class="error is-danger" [hidden]="contactForm.get('name').valid || ini">
                  Please enter your name
                </p>
              </div>


              <div class="form-group col-6">
                <label>Email:</label>
                <input class="form-control" type="email"
                       placeholder="Enter your email address"
                       formControlName="email"
                       [ngClass]="{
                  'is-success' :  contactForm.get('email').valid &&  contactForm.get('email').dirty,
                  'is-danger'  :  !contactForm.get('email').valid
                }">
                <p class="error is-danger" [hidden]="contactForm.get('email').valid || ini">
                  Please enter a valid email address
                </p>
              </div>
            </div>

            <div class="form-group">
              <label>Your question:</label>
              <textarea class="form-control"
                        rows="5"
                        formControlName="question"
                        [ngClass]="{
                  'is-success' :  contactForm.get('question').valid &&  contactForm.get('question').dirty,
                  'is-danger'  :  !contactForm.get('question').valid
                }"></textarea>
                <p class="error is-danger" [hidden]="contactForm.get('question').valid || ini">
                  Please don't forget to ask a question
                </p>
            </div>

            <button class="btn btn-primary pl-5 pr-5" (click)="doContact()" type="button">Send</button>

          </form>

          <hr class="my-4">

          <div class="corporate">
            <h4>Corporate information:</h4>
            <p>Virtual Sushi</p>
            <p>Av. Dolez 464/B</p>
            <p>1180 Brussels</p>
            <p>Belgium</p>
            <p><i class="fal fa-phone"></i>&nbsp; +32 497 40 13 05</p>
            <p><i class="fal fa-envelope"></i>&nbsp; info@virtualsushi.com</p>
          </div>



        </div>




      </div>
    </div>

  </div>
</div>
